<div class = "div-centrado"> 
<div class = "bg-log-in">
<form class="form" action='@Url.Action("Index")' method="POST">
    <p class="message">REGISTRATE EN PARKPOINT</p>
        <div class="flex">
        <label>
            <input autocomplete = "off" required="" placeholder="" type="text" class="input" name = "nombre">
            <span>Nombre</span>
        </label>    

        <label>
            <input  autocomplete = "off" required="" placeholder="" type="text" class="input" name = "apellido">
            <span>Apellido</span>
        </label>
    </div>  
            
    <label>
        <input autocomplete = "off" required="" placeholder="" type="email" class="input" name = "email">
        <span>Email</span>
    </label> 
        
    <label>

        <select id = "marcaSelect"name="id_marca" class = "input" required selected=none>
               
               <option value="" selected disabled>Seleccione una marca de vehículo</option>
               @foreach (Marca marca in ViewBag.Marcas){

                <option value="@marca.id_marca">@marca.nombre_marca</option>

               }
            </select>
    </label>
    <label>

     <select id="modeloSelect" name="id_modelo" class = "input"  disabled required selected=none>
               
               <option value="" selected disabled>Seleccione un modelo de la marca del vehículo</option>
               @foreach (Modelo modelo in ViewBag.Modelos){

                <option value="@modelo.id_modelo">@modelo.nombre_modelo</option>

               }
            </select>
    </label>

    <label>
        <input autocomplete = "off" required="" placeholder="" type="text" class="input" name = "patente">
        <span>Patente</span>
    </label> 

    <label>
        <input autocomplete = "off" required="" placeholder="" type="password" class="input" name = "contra">
        <span>Contraseña</span>
    </label>
    <label>
        <input autocomplete = "off" required="" placeholder="" type="password" class="input" name = "confirmacionContra">
        <span>Confirmar Contraseña</span>
    </label>
    <button class="submit">Registrarse</button>
    <p class="signin">¿Ya tienes una cuenta? <a href="#">Iniciar Sesion</a> </p>
</form>

</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('#marcaSelect').change(function() {
        var idMarca = $(this).val();
        
        // Limpiar el select de modelos
        $('#modeloSelect').empty();
        $('#modeloSelect').append('<option value="">Selecciona un modelo</option>');

        if (idMarca) {
            // Habilitar el select de modelos
            $('#modeloSelect').prop('disabled', false);

            // Hacer la llamada AJAX
            $.ajax({
                url: '@Url.Action("ObtenerModelos", "Home")', // Cambia esto según el nombre de tu controlador y acción
                type: 'GET',
                data: { idMarca: idMarca },
                success: function(modelos) {
                    // Agregar los modelos al select
                    $.each(modelos, function(index, modelo) {
                        $('#modeloSelect').append('<option value="' + modelo.id_modelo + '">' + modelo.nombre_modelo + '</option>');
                    });
                },
                error: function() {
                    alert('Error al obtener los modelos');
                }
            });
        } else {
            // Deshabilitar el select de modelos si no hay marca seleccionada
            $('#modeloSelect').prop('disabled', true);
        }
    });
});
</script>